includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/ticketswap/phpstan-error-formatter/extension.neon

parameters:
	errorFormat: ticketswap
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
		- Nette\Application\UI\Template
	level: 8
	paths:
		- src/DB/CartItemRepository.php
		- src/Services/LostPasswordService.php
		- src/Services/Order
		- src/Services/Comgate.php
		- src/Front/Web/SandboxPresenter.php
		- src/Front/Eshop/ExportPresenter.php
		- src/Admin/MerchantPresenter.php
		- src/Services/Order/OrderEditService.php
	excludePaths:
		- src/assets/*
		- src/templates/*

services:
	-
		class: StORM\Bridges\PhpStan\OneReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\FirstReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\FindRepositoryReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\OneThrowType
		tags:
			- phpstan.broker.dynamicMethodThrowTypeExtension
	-
		class: StORM\Bridges\PhpStan\FirstThrowType
		tags:
			- phpstan.broker.dynamicMethodThrowTypeExtension