parameters:
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
		- Nette\Application\UI\Template
	level: 5
	paths:
		- src
	excludePaths:
		- src/assets/*
		- src/templates/*

services:
	-
		class: StORM\Bridges\PhpStan\OneReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\FirstReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\FindRepositoryReturnType
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: StORM\Bridges\PhpStan\OneThrowType
		tags:
			- phpstan.broker.dynamicMethodThrowTypeExtension
	-
		class: StORM\Bridges\PhpStan\FirstThrowType
		tags:
			- phpstan.broker.dynamicMethodThrowTypeExtension