includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/liquiddesign/storm/phpstan-extension.neon

parameters:
	tmpDir: temp/phpstan
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
		- Nette\Application\UI\Template
	level: 5
	paths:
		- src
	excludePaths:
		- src/Actions
		- src/assets/*
		- src/templates/*
		- src/Front/Eshop/ExportPresenter.php
		- src/Admin/MerchantPresenter.php
		- src/Admin/Controls/Customer
		- src/migrations
		- src/Admin/MerchantPresenter.php
		- src/Services/ProductsCache
		- src/Services/Related
		- src/DB/SupplierProductPhoto.php
		- src/DB/SupplierProductPhotoRepository.php