includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/liquiddesign/storm/phpstan-extension.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/dave-liddament/phpstan-php-language-extensions/extension.neon

parameters:
	tmpDir: temp/phpstan8_phpstorm
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
		- Nette\Application\UI\Template
	level: 8
	paths:
		- src
	excludePaths:
		- src/assets/*
		- src/templates/*