includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/liquiddesign/storm/phpstan-extension.neon
	- vendor/dave-liddament/phpstan-php-language-extensions/extension.neon

parameters:
	tmpDir: temp/phpstan8
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
		- Nette\Application\UI\Template
	level: 8
	paths:
		- src/Actions
		- src/DB/CartItemRepository.php
		- src/Services/LostPasswordService.php
		- src/Services/Order
		- src/Services/Comgate.php
		- src/Services/Related
		- src/Front/Web/SandboxPresenter.php
		- src/Front/Eshop/ExportPresenter.php
		- src/Admin/MerchantPresenter.php
		- src/Services/Order/OrderEditService.php
		- src/Admin/Controls/Customer
		- src/Admin/MerchantPresenter.php
		- src/Services/ProductsCache
		- src/DB/SupplierProductPhoto.php
		- src/DB/SupplierProductPhotoRepository.php
		- src/DB/CustomerBonita.php
		- src/DB/CustomerBonitaRepository.php
	excludePaths:
		- src/assets/*
		- src/templates/*