search:
    eshop:
        in: %appDir%/../vendor/liquiddesign/eshop
        files: [*/DB/*Repository.php, */Controls/*Factory.php, */Admin/Controls/*Factory.php, */Integration/*.php]
    eshop_services:
        in: %appDir%/../vendor/liquiddesign/eshop
        files: [*/*Service.php]
        implements: Base\Bridges\AutoWireService
    eshop_actions:
        in: %appDir%/../vendor/liquiddesign/eshop
        files: [*/Actions/**/*.php]
        implements: Base\Bridges\AutoWireAction

services:
	balikobot.api: Eshop\Services\BalikobotApi\ApiConnection('https://apiv2.balikobot.cz/', '', '')
	vies.api: Vies\ViesApiClient('https://viesapi.eu/api-test/', 'test_id', 'test_key')
	freeloNotification: Eshop\Integration\FreeloNotificationService('test@test.cz')
#	- Vies\ViesApiClient('https://viesapi.eu/api/', 'test_id', 'test_key')