{varType string $pageType}

<script>
    window.dataLayerGTM = window.dataLayerGTM || [];
    dataLayerGTM.push({
        'event': 'eec.' + {$pageType},
        'page_type': {$pageType}
    });
</script>