{define content}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-sm-6">
                    <h1>{@$headerLabel}</h1>
                    {if @$displayLabels}
                        {foreach $displayLabels as $label}
                            <h2>{$label|noescape}</h2>
                        {/foreach}
                    {/if}
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{plink :Eshop:Admin:Dashboard:default}">Domů</a></li>
                        {ifset $headerTree}
                            {foreach $headerTree as $item}
                                <li class="breadcrumb-item {if $iterator->isLast()}active{/if}">
                                    {ifset $item[1]}
                                        {ifset $item[2]}
                                            <a href="{plink $item[1], $item[2]}">{$item[0]}</a>
                                        {else}
                                            <a href="{plink $item[1]}">{$item[0]}</a>
                                        {/ifset}
                                    {else}
                                        {$item[0]}
                                    {/ifset}
                                </li>
                            {/foreach}
                        {/ifset}
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" n:if="$presenter->admin->isAllowed(':Eshop:Admin:Order:printDetail')">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Objednávky / Poptávky</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th class="minimal">Číslo</th>
                                        <th class="minimal">Datum</th>
                                        {if $presenter->shopper->getShowVat()}
                                            <th>Cena (s DPH)</th>
                                        {/if}
                                        {if $presenter->shopper->getShowWithoutVat()}
                                            <th>Cena (bez DPH)</th>
                                        {/if}
                                        <th>Zákazník</th>
                                        <th>Stav</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody n:inner-foreach="$recievedOrders as $order">
                                    <tr>
                                        <td>{$order->code}</td>
                                        <td>{$order->createdTs|date}</td>
                                        {if $presenter->shopper->getShowVat()}
                                            <td>{$order->purchase->getSumPriceVat()|price}</td>
                                        {/if}
                                        {if $presenter->shopper->getShowWithoutVat()}
                                            <td>{$order->purchase->getSumPrice()|price}</td>
                                        {/if}
                                        <td>
                                            {if $order->purchase->customer && $order->purchase->account}
                                                <a href="{plink :Eshop:Admin:Customer:editAccount, $order->purchase->account}">
                                                    <i class="fa fa-external-link-alt fa-sm"></i>&nbsp;
                                                    {$order->purchase->customer->fullname ?? $order->purchase->customer->email} - {$order->purchase->account->fullname ?? $order->purchase->account->login}
                                                </a>
                                            {elseif $order->purchase->customer}
                                                <a href="{plink :Eshop:Admin:Customer:edit, $order->purchase->customer}">
                                                    <i class="fa fa-external-link-alt fa-sm"></i>&nbsp;{$order->purchase->customer->fullname ?? $order->purchase->customer->email}
                                                </a>
                                            {elseif $order->purchase->account}
                                                <a href="{plink :Eshop:Admin:Customer:editAccount, $order->purchase->account}">
                                                    <i class="fa fa-external-link-alt fa-sm"></i>&nbsp;{$order->purchase->account->fullname ?? $order->purchase->account->login}
                                                </a>
                                            {else}
                                                {$order->purchase->fullname ?? $order->purchase->email}
                                                {if $order->purchase->accountFullname && $order->purchase->fullname} - {/if}
                                                {$order->purchase->accountFullname ?? $order->purchase->accountEmail}
                                            {/if}
                                        </td>
                                        <td>{$order->getState()}</td>
                                        <td><a href="{plink :Eshop:Admin:Order:printDetail, $order}"><i
                                                        class="fa fa-external-link-alt fa-sm"></i>&nbsp;Detail</a></td>
                                    </tr>
                                    </tbody>
                                    <tbody n:inner-if="count($recievedOrders) == 0">
                                    <tr>
                                        <td colspan="5">Žádné aktivní objednávky.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a href="{plink :Eshop:Admin:Order:default}" class="btn btn-sm btn-secondary float-right">Zobrazit
                                všechny objednávky</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                </div>
                <div class="col-md-4" n:if="$presenter->admin->isAllowed(':Eshop:Admin:Customer:edit') && $presenter->admin->isAllowed(':Eshop:Admin:Merchant:detail')">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Neschválené účty</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Účet</th>
                                        <th>Datum registrace</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody n:inner-foreach="$nonActiveUsers as $nonActiveUser">
                                    <tr>
                                        <td>
                                            {$nonActiveUser->fullname}({$nonActiveUser->login})
                                        </td>
                                        <td>
                                            {$nonActiveUser->tsRegistered|date}
                                        </td>
                                        <td>
                                            <a href="{plink :Eshop:Admin:Customer:editAccount, $nonActiveUser}">
                                                <i class="far fa-edit"></i> Detail
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody n:inner-if="count($nonActiveUsers) == 0">
                                    <tr>
                                        <td colspan="5">Žádní uživatelé.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <a href="{plink :Eshop:Admin:Customer:default, 'tab' => 'accounts'}"
                               class="btn btn-sm btn-secondary float-right m-1">
                                Zobrazit všechny účty
                            </a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" n:if="$presenter->admin->isAllowed(':Eshop:Admin:Discount:detail')">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Aktivní akce</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Název</th>
                                        <th>Platnost od</th>
                                        <th>Platnost do</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody n:inner-foreach="$discounts as $discount">
                                    <tr>
                                        <td>{$discount->name}</td>
                                        <td>{$discount->validFrom|date}</td>
                                        <td>{$discount->validTo|date}</td>
                                        <td>{if $presenter->admin->isAllowed(':Eshop:Admin:Discount:detail')}
                                                <a href="{plink :Eshop:Admin:Discount:detail, $discount}"><i class="fa fa-external-link-alt fa-sm"></i>&nbsp;Detail</a>
                                            {else}
                                                <a class="disabled"><i class="fa fa-external-link-alt fa-sm"></i>&nbsp;Detail</a>
                                            {/if}
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody n:inner-if="count($discounts) == 0">
                                    <tr>
                                        <td colspan="5">Žádné aktivní akce.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            {if $presenter->admin->isAllowed(':Eshop:Admin:Discount:default')}
                                <a href="{plink :Eshop:Admin:Discount:default}" class="btn btn-sm btn-secondary float-right">Zobrazit všechny akce</a>
                            {else}
                                <a class="btn btn-sm btn-secondary float-right disabled">Zobrazit všechny akce</a>
                            {/if}
                        </div>
                        <!-- /.card-footer -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{/define}

{block scripts}
    <script n:if="$flashes" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    {foreach $flashes as $flash}
        <script>
            toastr.{$flash->type|noescape}({$flash->message});
        </script>
    {/foreach}
{/block}


{include '../@layout.latte'}
