{varType Eshop\DB\Order $order}
{varType Eshop\DB\Purchase $purchase}
{varType Admin\Administrator $admin}
{varType Eshop\DB\PickupPoint|null $pickupPoint}
{varType Eshop\DB\Package[] $packages}
{varType Eshop\DB\PackageItem[] $upsells}
{varType Eshop\DB\Related[][] $relations}

{var $purchase = $order->purchase}
{var $billingAddress = $purchase->billAddress}
{var $deliveryAddress = $purchase->deliveryAddress}
{var $delivery = $order->getLastDelivery()}
{var $payment = $order->getPayment()}
{var $states = [
Eshop\DB\Order::STATE_CANCELED => 'Stornovaná',
Eshop\DB\Order::STATE_COMPLETED => 'Odeslaná',
Eshop\DB\Order::STATE_OPEN => 'Otevřená',
Eshop\DB\Order::STATE_RECEIVED => 'Přijatá',
]}
{import '../../../../../../app/Admin/templates/content.latte'}

{define content}
    {include content-header}
    <section class="content">
        <div class="card card-primary card-outline card-outline-tabs">
            {var $displayButtonsLeft = @$displayButtons}
            {if @$displayButtonsLeft || @$displayButtonsRight}
                <div class="card-header p-3 d-print-none">
                    <div class="row">
                        <div n:ifset="$displayButtonsLeft" class="col-lg-8 col-md-12">
                            {foreach $displayButtonsLeft as $button}
                                {$button|noescape}
                            {/foreach}
                        </div>
                        <div n:ifset="$displayButtonsRight" class="col-lg-4 col-md-12 text-right">
                            {foreach $displayButtonsRight as $button}
                                {$button|noescape}
                            {/foreach}
                        </div>
                    </div>
                </div>
            {/if}
            <div class="card-body p-3">
                <!-- info row -->
                <div class="row invoice-info">

                    <div class="col-sm-3 invoice-col">
                        <p class="lead mb-1">Zákazník</p>
                        <address class="mt-2">
                            <div n:if="$purchase->customer">
                                <a n:tag-if="$purchase->account && $admin->isAllowed(':Eshop:Admin:Customer:default')" href="{plink :Eshop:Admin:Customer:default, tab=>'accounts', accountGrid-search=>$purchase->account->login}" target="_blank">
                                    <i n:if="$purchase->account" class="far fa-user" aria-hidden="true"></i> {$purchase->customer->fullname} </a><br>
                                <div n:if="$purchase->customer->ic">IČ: <strong>{$purchase->customer->ic}</strong><br></div>
                                <div n:if="$purchase->customer->dic">DIČ: <strong>{$purchase->customer->dic}</strong><br></div>
                                <div><a href="mailto:{$purchase->email}"><i class="far fa-envelope"></i> {$purchase->email}</a><br></div>
                                <div><a href="tel:{$purchase->phone}"><i class="fa fa-phone-alt"></i> {$purchase->phone}</a></div>
                            </div>
                            <div n:if="!$purchase->customer">
                                {$purchase->fullname} <br>
                                <div n:if="$purchase->ic">IČ: <strong>{$purchase->ic}</strong><br></div>
                                <div n:if="$purchase->dic">DIČ: <strong>{$purchase->dic}</strong><br></div>
                                <div><a href="mailto:{$purchase->email}"><i class="far fa-envelope"></i> {$purchase->email}</a><br></div>
                                <div><a href="tel:{$purchase->phone}"><i class="fa fa-phone-alt"></i> {$purchase->phone}</a></div>
                            </div>
                        </address>
                    </div>

                    <div class="col-sm-3 invoice-col">
                        <p class="lead mb-1">Fakturační adresa</p>
                        <address class="mt-2">
                            {$purchase->fullname}<br>
                            <div n:if="$purchase->ic">IČ: {$purchase->ic}<br></div>
                            <div n:if="$purchase->dic">DIČ: {$purchase->dic}<br></div>
                            <div n:if="$billingAddress">{$billingAddress->street}<br></div>
                            <div n:if="$billingAddress">{$billingAddress->zipcode} {$billingAddress->city}<br></div>

                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                        <p class="lead mb-1">Dodací adresa</p>
                        <address n:if="$deliveryAddress" class="mt-2">
                            {$deliveryAddress->street},<br>
                                {$deliveryAddress->zipcode} {$deliveryAddress->city}<br>
                        </address>
                        <address n:if="!$deliveryAddress" class="">
                            <i>Stejná jako fakturační</i>
                        </address>
                    </div>
                    <!-- /.col -->

                    <div class="col-sm-3 invoice-col">
                        <table class="table table-sm lqd-table ">
                            <tbody>
                            <tr><th>Objednávka</th><td>{$order->code}</td></tr>
                            <tr><th>Stav</th><td style="text-decoration: underline">{$states[$order->getState()] ?? ''}</td></tr>
                            <tr><th>Vytvořená</th><td>{$order->createdTs|date:'d.m.Y G:i'}</td></tr>
                            <tr n:if="$order->purchase->desiredShippingDate"><th>Požadované doručení</th><td>{$order->purchase->desiredShippingDate|date:'d.m.Y'}</td></tr>
                            <tr n:if="$order->purchase->internalOrderCode"><th>Interní číslo</th><td>{$order->purchase->internalOrderCode}</td></tr>
                            <tr n:if="$order->externalId"><th>Externí číslo</th><td>{$order->externalId}</td></tr>
                            <tr n:if="$order->externalCode"><th>Externí kód</th><td>{$order->externalCode}</td></tr>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <br>
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li n:foreach="$packages as $package" class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" href="#">Balík #{$package->id}</a>
                    </li>
                    {*
					<li class="nav-item">
						<a class="nav-link " id="custom-tabs-one-home-tab" href="/rajtiskaren/admin/eshop/customer?tab=accounts"><i class="fa fa-plus-square"></i> Další balík</a>
					</li>
					*}
                </ul>
                <br>

                {foreach $packages as $package}
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive table-striped">
                            <table class="table table-sm lqd-table">
                                <thead class="admin-head">
                                <tr>
                                    <th class="minimal"></th>
                                    <th>Kód</th>
                                    <th>Název</th>
                                    <th>Množství</th>
                                    <th>Sklad</th>
                                    <th style="text-align: right">Cena za kus</th>
                                    <th style="text-align: right">Cena celkem</th>
                                    <th class="minimal d-print-none"></th>
                                    <th class="minimal d-print-none"></th>
                                    <th class="minimal d-print-none"></th>
                                </tr></thead>
                                <tbody>

                                {foreach $package->items->where('cartItem.fk_upsell IS NULL')->toArray() as $packageItem}
                                    {varType Eshop\DB\PackageItem $packageItem}
                                    {include '../Components/Order.printDetail.item.latte', packageItem:$packageItem, upsell:false}

                                    {foreach $upsells[$package->getPK()][$packageItem->getPK()] ?? [] as $upsellPackageItem}
                                        {include '../Components/Order.printDetail.item.latte', packageItem:$upsellPackageItem, upsell:true}
                                    {/foreach}

                                    {if $packageItem->cartItem->getValue('product') && isset($relations[$packageItem->cartItem->getValue('product')])}
                                        {foreach $relations[$packageItem->cartItem->getValue('product')] as $related}
                                            {varType Eshop\DB\Related $related}
                                            {var Eshop\DB\Product $slave = $related->slave}
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img data-src="{$slave->getPreviewImage($baseUrl,'thumb')}" loading="lazy" alt="" style="height:32px;">
                                                    </a>
                                                </td>
                                                <td>
                                                    {$slave->getFullCode()}
									            {if $slave->ean}<br><small>EAN: {$slave->ean}</small>{/if}
                                                </td>
                                                <td>
                                                    <a n:tag-if="$admin->isAllowed(':Eshop:Admin:Product:default')" href="{plink :Eshop:Admin:Product:default, productGrid-code=>$slave->getFullCode()}" target="_blank">
                                                        -- {$slave->name}
                                                    </a>
                                                </td>
                                                <td>{$related->amount}</td>
                                                <td>
                                                </td>
                                                <td style="text-align: right">
                                                </td>
                                                <td style="text-align: right">
                                                </td>
                                                <td class="d-print-none">
                                                </td>
                                                <td class="d-print-none">
                                                </td>
                                                <td class="d-print-none">
                                                </td>
                                            </tr>
                                        {/foreach}
                                    {/if}
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {/foreach}

                <br>

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <p class="lead">Doprava:</p>
                        <div class="d-flex align-items-center">
                            <img n:if="$purchase->deliveryType && $purchase->deliveryType->imageFileName" src="{$userUrl|noescape}/deliverytype_images/thumb/{$purchase->deliveryType->imageFileName}" loading="lazy" alt="" style="height: 32px;"/>
                            {if $purchase->deliveryType}
                             {$purchase->deliveryType->name}&nbsp;-&nbsp;{$delivery->shippedTs ? 'Expedováno' : 'Čeká na expedici'}<br>
                            {/if}
                            {$purchase->pickupPointId || $purchase->zasilkovnaId ? 'Výdejní místo: ' : null}
                            {if $purchase->pickupPointId}
                                {if $purchase->pickupPoint}
                                    {$purchase->pickupPoint->name}
                                {else}
                                    {$purchase->pickupPointName}
                                {/if}
                            {elseif $purchase->zasilkovnaId}
                                {if $pickupPoint}
                                    {$pickupPoint->name} ({$purchase->zasilkovnaId})
                                    {if $pickupPoint->address}
                                       <br>{$pickupPoint->address->street}, {$pickupPoint->address->city} {$pickupPoint->address->zipcode}
                                    {/if}
                                {else}
                                    {$purchase->zasilkovnaId}
                                {/if}
                            {/if}
                            <a class="ml-2 d-print-none" n:href="delivery $order">Změnit</a>
                        </div>

                        <p class="lead mt-4">Platební metoda:</p>
                        <div class="d-flex align-items-center">
                            <img n:if="$purchase->paymentType->imageFileName" src="{$userUrl|noescape}/paymenttype_images/thumb/{$purchase->paymentType->imageFileName}" loading="lazy" alt="" style="height: 32px;"/>
                            {$purchase->paymentType ? $purchase->paymentType->name : null} - {$payment->paidTs ? 'Zaplaceno' : 'Čeká na zaplacení'}
                            <a class="ml-2 d-print-none" n:href="payment $order">Změnit</a>
                        </div>

                        {if $order->purchase->note}
                            <p class="lead mt-4">Poznámka:</p>
                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                {$order->purchase->note}
                            </p>
                        {/if}
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody>
                                {if $presenter->shopper->getShowVat()}
                                    <tr>
                                        <th>Mezisoučet:</th>
                                        <td>{($order->purchase->getSumPriceVat())|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Doprava:</th>
                                        <td>{$order->getDeliveryPriceSum()|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Poplatek platební metody:</th>
                                        <td>{$order->getPaymentPriceSum()|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Daň</th>
                                        <td>{($order->getTotalPriceVat() - $order->getTotalPrice())|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Sleva celkem:</th>
                                        <td>{($order->getTotalPriceVat() - ($order->getTotalPriceVat() - $order->getDiscountPriceVat()))|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th><span style="font-size: large">Celkem:</span></th>
                                        <td><span style="font-size: large">{$order->getTotalPriceVat()|price:$purchase->currency->code}</span></td>
                                    </tr>
                                {elseif $presenter->shopper->getShowWithoutVat()}
                                    <tr>
                                        <th>Mezisoučet:</th>
                                        <td>{($order->purchase->getSumPrice())|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Doprava:</th>
                                        <td>{$order->getDeliveryPriceSum()|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Poplatek platební metody:</th>
                                        <td>{$order->getPaymentPriceSum()|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th>Sleva celkem:</th>
                                        <td>{($order->getTotalPrice() - ($order->getTotalPrice() - $order->getDiscountPrice()))|price:$purchase->currency->code}</td>
                                    </tr>
                                    <tr>
                                        <th><span style="font-size: large">Celkem:</span></th>
                                        <td><span style="font-size: large">{$order->getTotalPrice()|price:$purchase->currency->code}</span></td>
                                    </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr class="d-print-none">

                <div class="row d-print-none">
                    <div class="col-12 mt-4">
                        <h4>Historie operací</h4>

                        {control orderLogGrid}
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>

        {ifset $customContentBlock}
            {include $customContentBlock}
        {/ifset}
    </section>

    {embed modal id:'orderForm'}
        {block modal-header}Editace objednávky{/block}
        {block modal-body}{control orderForm:noHeader}{/block}
    {/embed}

    {embed modal id:'splitOrderItemForm'}
        {block modal-header}Rozdělení položky{/block}
        {block modal-body}{control splitOrderItemForm:noHeader}{/block}
    {/embed}

    {embed modal id:'storeOrderItemForm'}
        {block modal-header}Sklad položky{/block}
        {block modal-body}
            {form storeOrderItemForm}
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Sklad</th>
                            <th style="text-align: right">Množství</th>
                            <th>Dodavatel</th>
                            <th style="text-align: right">Cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$stores as $store" id="store-{$store->getValue('supplier') ? $store->supplier->getPK() : $store->getPK()}" class="store {if $store->supplier}supplier-{$store->supplier->getPK()}{/if}">
                            <td>{input store:$store->getPK()}</td>
                            <td>{$store->name}</td>
                            <td class="input-amount" style="text-align: right"></td>
                            <td>{if $store->supplier}{$store->supplier->name}{else}-{/if}</td>
                            <td class="input-price" style="text-align: right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <span>Změnou skladu dojde k vymazání stavu o odeslání dodavateli! Dodavatel nebude o změně automaticky informován!</span><br>
                <input type="submit" n:name="submit" value="Uložit" class="btn btn-primary btn-sm ml-0 mt-1 mb-1 mr-1">
            {/form}
        {/block}
    {/embed}

    {embed modal id:'detailOrderItemForm'}
        {block modal-header}Editace položky{/block}
        {block modal-body}{control detailOrderItemForm:noHeader}{/block}
    {/embed}

    {embed modal id:'productForm'}
        {block modal-header}Přidání položky{/block}
        {block modal-body}{control productForm:noHeader}{/block}
    {/embed}

    {embed modal id:'mergeOrderForm'}
        {block modal-header}Zvolte objednávku{/block}
        {block modal-body}{control mergeOrderForm:noHeader}{/block}
    {/embed}

    {embed modal id:'emailForm'}
        {block modal-header}Zvolte email{/block}
        {block modal-body}{control emailForm:noHeader}{/block}
    {/embed}

    {embed modal id:'sendToSuppliersForm'}
        {block modal-header}Odeslat dodavatelům{/block}
        {block modal-body}
            Odešle objednané položky příslušným dodavatelům. Výsledek odeslání je zaznamenán do historie operací objednávky a v případě nějaké chyby můžete znovu odeslat pouze nedokončené.<br>
            {control sendToSuppliersForm:noHeader}
        {/block}
    {/embed}
{/define}
{block scripts}
    <style>
        @media print {
            a { text-decoration: none !important; color: #000 }
            i.fa,i.far,i.fas { display:none; }
        }
    </style>
    <script n:if="$flashes" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    {foreach $flashes as $flash}
        <script>
            toastr.{$flash->type|noescape}({$flash->message});
        </script>
    {/foreach}
    <script>
        $( "a.modalStoreOrderItemForm").click(function() {
            var values = $(this).data('values');

            $('#modal-storeOrderItemForm td.input-amount').html('-');
            $('#modal-storeOrderItemForm td.input-price').html('-');
            $('#modal-storeOrderItemForm tr.store ').addClass('disabled');

            Object.keys(values.amounts).forEach(key => {
                $('#modal-storeOrderItemForm tr#store-' + key).removeClass('disabled');
                $('#modal-storeOrderItemForm tr#store-' + key + ' td.input-amount').html(values.amounts[key]);
            });

            Object.keys(values.prices).forEach(key => {
                $('#modal-storeOrderItemForm tr#store-' + key).removeClass('disabled');
                $('#modal-storeOrderItemForm tr.supplier-' + key + ' td.input-price').html(values.prices[key]);
            });

            $('#modal-storeOrderItemForm input[type="radio"]').prop('checked', false);
            $('#modal-storeOrderItemForm input[value="' + values.store + '"]').prop('checked', true);

            $('#modal-storeOrderItemForm input[name="uuid"]').val(values.uuid);
        });

        $( "a.modalSplitOrderItemForm").click(function() {
            var values = $(this).data('values');

            $('#modal-splitOrderItemForm form input[name="uuid"]').val(values['uuid']);
        });

        $( "a.modalDetailOrderItemForm").click(function() {
            var values = $(this).data('values');

            Object.keys(values).forEach(key => {
                $('#modal-detailOrderItemForm form input[name="'+ key +'"]').val(values[key]);
            });
        });
    </script>
{/block}