{contentType application/xml}
<?xml version="1.0" encoding="utf-8"?>
{var Eshop\DB\ProductRepository $products = $presenter->productRepo}
{varType Eshop\DB\Product $product}
{varType string|null $error}
{ifset $error}
<error>
    {$error}
</error>
{else}
{do $products = $products->getProducts(null, ($customer ?? $merchant))->where('this.hidden', false)}
<SHOP>
    <SHOPITEM n:while="$product = $products->fetch()">
        <ITEM_ID>{$product->getPK()}</ITEM_ID>
        <PRODUCT><![CDATA[{$product->name}]]></PRODUCT>
        <CODE>{$product->code}</CODE>
        <WEIGHT>{$product->weight}</WEIGHT>
        <UNIT>{$product->unit}</UNIT>
        <EAN>{$product->ean}</EAN>
        <DESCRIPTION n:if="$product->content"><![CDATA[{\strip_tags($product->content)}]]></DESCRIPTION>
        <URL>{plink //:Eshop:Product:detail $product->getPK()}</URL>
        {*        <ITEM_TYPE>{$product->type}</ITEM_TYPE>*}
{*        <DELIVERY_DATE></DELIVERY_DATE>*}
{*        <AVAILABLE></AVAILABLE>*}
        <PRICE>{$product->price}</PRICE>
        <VAT>{$vatRates[$product->vatRate]}</VAT>
        <MOQ>{$product->minBuyCount}</MOQ>
        <PACKAGE>{$product->inPackage}</PACKAGE>
        <INNER_PACKAGE>{$product->inCarton}</INNER_PACKAGE>
        <QUANTITY_PALLETE>{$product->inPalett}</QUANTITY_PALLETE>
        <PRODUCT_EN><![CDATA[{$product->name_en}]]></PRODUCT_EN>
    </SHOPITEM>
</SHOP>
{/ifset}
