{contentType application/xml}
{cache expire => '1 day', tags => ['export']}
<?xml version="1.0" encoding="utf-8"?>
{ifset $error}
<error>
    {$error}
</error>
{else}
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
<channel>
    <item n:foreach="$products as $product">
        <!-- The following attributes are always required -->
        <g:id>{$product->getPK()}</g:id>
        <g:title><![CDATA[{$product->name}]]></g:title>
        <g:description n:if="$product->content"><![CDATA[{\strip_tags($product->content)}]]></g:description>
        <g:link>{plink //:Eshop:Product:detail $product->getPK()}</g:link>
        {ifset $product->imageFileName}<g:image_link>{$productImageUrl . $product->imageFileName}</g:image_link>{/ifset}
        <g:condition>new</g:condition>
        <g:availability>{if $product->inStock()}in stock{else}out of stock{/if}</g:availability>
        <g:price>{$product->priceVat} {$pricelist->currency->code}</g:price>
        <g:brand>{$product->producer ? $product->producer->name : null}</g:brand>
        <g:gtin>{$product->ean}</g:gtin>
        <g:adult>no</g:adult>
        {ifset $product->displayDelivery}
        <g:shipping>
            <g:country>CS</g:country>
        </g:shipping>
        {/ifset}
    </item>
</channel>
</rss>
{/ifset}
{/cache}
