{contentType application/xml}
{cache expire => '1 day', tags => ['export']}
<?xml version="1.0" encoding="utf-8"?>
{ifset $error}
<error>
    {$error}
</error>
{else}
<SHOP>
    <SHOPITEM n:foreach="$products as $product">
        <ITEM_ID>{$product->getPK()}</ITEM_ID>
        <PRODUCT><![CDATA[{$product->name}]]></PRODUCT>
        <DESCRIPTION n:if="$product->content"><![CDATA[{\strip_tags($product->content)}]]></DESCRIPTION>
        <URL>{plink //:Eshop:Product:detail $product->getPK()}</URL>
        {ifset $product->imageFileName}<IMGURL>{$productImageUrl . $product->imageFileName}</IMGURL>{/ifset}
        <PRICE>{$product->priceVat}</PRICE>
        <MANUFACTURER>{ifset $product->producer}{$product->producer->name}{/ifset}</MANUFACTURER>
        {ifset $product->primaryCategory}
            {do $categories = []}
            {do $category = $product->primaryCategory}
            {while $category != null}
                {do $categories[] = $category}
                {do $category = $category->ancestor}
            {/while}
            {do $categories = \array_reverse($categories)}
            <CATEGORYTEXT>{foreach $categories as $category}{$category->name|noescape}{if !$iterator->isLast()} | {/if}{/foreach}</CATEGORYTEXT>
        {/ifset}
        <EAN>{$product->ean}</EAN>
        <DELIVERY_DATE n:if="$product->inStock()">0</DELIVERY_DATE>
{*        <CODE>{$product->code}</CODE>*}
{*        <WEIGHT>{$product->weight}</WEIGHT>*}
{*        <UNIT>{$product->unit}</UNIT>*}
{*        <ITEM_TYPE>{$product->type}</ITEM_TYPE>*}
{*        <DELIVERY_DATE></DELIVERY_DATE>*}
{*        <AVAILABLE></AVAILABLE>*}
{*        <MOQ>{$product->minBuyCount}</MOQ>*}
{*        <PACKAGE>{$product->inPackage}</PACKAGE>*}
{*        <INNER_PACKAGE>{$product->inCarton}</INNER_PACKAGE>*}
{*        <QUANTITY_PALLETE>{$product->inPalett}</QUANTITY_PALLETE>*}
{*        <PRODUCT_EN><![CDATA[{$product->name_en}]]></PRODUCT_EN>*}
    </SHOPITEM>
</SHOP>
{/ifset}
{/cache}
