{contentType application/xml}
<?xml version="1.0" encoding="utf-8"?>
{varType Eshop\Front\Eshop\ExportPresenter $presenter}
{varType Eshop\DB\Product[] $products}
{varType array $productsFrontendData}
{varType string|null $productImageUrl}
{varType array $groupIdMasterProducts}
{varType array $allAttributes}
{varType array $allAttributeValues}
{varType object[] $allCategories}

{cache expire => '1 day', tags => ['export']}
    <SHOP xmlns="http://www.zbozi.cz/ns/offer/1.0">
        <SHOPITEM n:foreach="$products as $product">
            <ITEM_ID>{$product->getFullCode()}</ITEM_ID>
            <PRODUCTNAME><![CDATA[{$product->name}]]></PRODUCTNAME>
            {var string|null $productContent = $presenter->compileLatte($product->content, $productsFrontendData[$product->getPK()] ?? [])}
            <DESCRIPTION n:if="$productContent"><![CDATA[{\strip_tags($productContent)}]]></DESCRIPTION>
            <PRODUCT n:if="$supplierProduct = $product->getSupplierProduct()"><![CDATA[{$supplierProduct->name}]]></PRODUCT>
            <URL>{plink //:Eshop:Product:detail $product->getPK()}</URL>
            {if $image = $product->getPreviewImage($basePath)}<IMGURL>{$productImageUrl . $image}</IMGURL>{/if}
            <PRICE_VAT>{$product->getPriceVat()}</PRICE_VAT>
            <MANUFACTURER>{ifset $product->producer}{$product->producer->name}{/ifset}</MANUFACTURER>
            {var string|null $category = $product->getValue('primaryCategory')}
            {var Eshop\DB\Category|null $category = $allCategories[$category] ?? null}
            {if $category !== null}
                {var $categories = []}
                {while $category != null}
                    {var $categories[] = $category}
                    {var $category = $allCategories[$category->ancestor]}
                {/while}
                {var $categories = \array_reverse($categories)}
                <CATEGORYTEXT>{foreach $categories as $category}{$category->name|noescape}{if !$iterator->isLast()} | {/if}{/foreach}</CATEGORYTEXT>
            {/if}
            <EAN>{$product->ean}</EAN>
            <DELIVERY_DATE>{$product->inStock() ? 0 : -1}</DELIVERY_DATE>
            {var $attributes = $product->getPreviewParameters()}
            {foreach $attributes as $attributeValues}
                {foreach $attributeValues as $attributeValue}
                    <PARAM>
                        <PARAM_NAME>{$allAttributes[$attributeValue['fk_parameter']]}</PARAM_NAME>
                        <VAL>{$allAttributeValues[$attributeValue['uuid']]}</VAL>
                    </PARAM>
                {/foreach}
            {/foreach}
            <CONDITION>new</CONDITION>
            <PRODUCTNO n:if="$product->mpn">{$product->mpn}</PRODUCTNO>
            <ITEMGROUP_ID n:ifset="$groupIdMasterProducts[$product->getPK()]">{$groupIdMasterProducts[$product->getPK()]->getFullCode()}</ITEMGROUP_ID>
        </SHOPITEM>
    </SHOP>
{/cache}
