{varType Eshop\DB\PickupPoint $item}

{do $weekDay = (int)(new Nette\Utils\DateTime())->format('N')}
{do $currentDate = (new Nette\Utils\DateTime())->format('Y-m-d')}
{do $nextDate = (new Nette\Utils\DateTime())->modify('+1 day')->format('Y-m-d')}

{do $weekDays[1] = $presenter->translator->translate('.monday','Pondělí')}
{do $weekDays[2] = $presenter->translator->translate('.tuesday','Úterý')}
{do $weekDays[3] = $presenter->translator->translate('.wednesday','Středa')}
{do $weekDays[4] = $presenter->translator->translate('.thursday','Čtvrtek')}
{do $weekDays[5] = $presenter->translator->translate('.friday','Pátek')}
{do $weekDays[6] = $presenter->translator->translate('.saturday','Sobota')}
{do $weekDays[7] = $presenter->translator->translate('.sunday','Neděle')}

<style>
    [title~="map-img"]{
        max-width: 50px!important;
    }
</style>

<div class="row mb-4">
    <div class="col">
        <h2>{_'pickupPoint.pickupPoint','Výdejní místa'}</h2>
        <div id="m" style="height:600px"></div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <h2>{_'pickupPoint.pickupPointList','Seznam výdejních míst'}</h2>
        <!-- FILTERS -->
        {form filterForm}
            <div class="flex flex-col md:flex-row md:items-end md:space-x-2">
                <div class="form-group">
                    {label name}
                    {input name}
                </div>
                <div class="form-group">
                    {label city}
                    {input city}
                </div>
                <div class="form-group">
                    {input submit, 'class' => 'btn btn-primary'}
                    <a n:href="clearFilters!" class="btn btn-secondary">{_'pickupPointList.cancel','Zrušit'}</a>
                </div>
            </div>
        {/form}

        <!-- SORTING -->
        <div class="tabs sorting my-4">
            <a href="{plink this pickupPointList-order => 'distance-ASC'}" class="tab mx-2{if $presenter['pickupPointList']->isOrderBy('distance','ASC')}active{/if}">{_'pickupPointList.byDistance','Dle vzdálenosti'}</a>
            <a href="{plink this pickupPointList-order => 'name-ASC'}" class="tab mx-2{if $presenter['pickupPointList']->isOrderBy('name','ASC')}active{/if}">{_'pickupPointList.byName','Dle názvu'}</a>
            <hr>
        </div>

        <div id="anchor-search" class="row w-full">
            <div class="col p-0">
                <div n:if="count($control->getItemsOnPage())" class="table-responsive">
                    <table>
                        <tbody>

                        {foreach $control->getItemsOnPage() as $id => $item}
                            <tr>
                                <td id="anchor-{$id}">
                                    {ifset $item->pickupPointType->imageFileName}
                                        <a href="{$userUrl}/pickupPointType_images/origin/{$item->pickupPointType->imageFileName}"
                                           target="_blank"><img style="max-width: 64px!important;"
                                                                src="{$userUrl}/pickupPointType_images/thumb/{$item->pickupPointType->imageFileName}"
                                                                alt="{$item->pickupPointType->name}"/></a>
                                    {else}
                                        {$item->pickupPointType->name}
                                    {/ifset}
                                </td>
                                <td>
                                    ~{$item->distance} km
                                </td>
                                <td>{$item->name}<br>{$item->address->getFullAddress()}</td>
                                <td>{$openingHoursTexts[$id]|noescape}</td>
                                <td><a href="#{$id}" rel="modal:open">{_'pickupPointList.moreInfo','Více informací'}</a>
                                </td>
                                <td>{if $item->gpsN && $item->gpsE}
                                        <a href="https://www.google.com/maps/search/?api=1&query={\str_replace(',','.',$item->gpsN)|noescape},{\str_replace(',','.',$item->gpsE)|noescape}"
                                           target="_blank">{_'pickupPointList.showOnMap','Ukázat na mapě'}</a>
                                    {/if}
                                </td>
                            </tr>
                            <div id="{$id}" class="modal">
                                {ifset $item->imageFileName}
                                    <a href="{$userUrl}/pickupPoint_images/origin/{$item->imageFileName}"
                                       target="_blank">
                                        <img src="{$userUrl}/pickupPoint_images/thumb/{$item->imageFileName}"
                                             alt="{$item->name}"/>
                                    </a><br>
                                {/ifset}

                                <strong>{$item->name}</strong><br>
                                <div class="mx-4">
                                    {$item->address->getFullAddress()}
                                    {if isset($item->description) && $item->description !== ''}
                                        <hr class="my-1">
                                        {$item->description}
                                    {/if}
                                </div>

                                {if isset($item->phone) || isset($item->email)}
                                    <hr class="my-1">
                                    <strong>{_'pickupPointList.contact','Kontakt'}</strong><br>
                                    <div class="mx-4">
                                        {ifset $item->phone}{$item->phone}<br>{/ifset}
                                        {@$item->email}
                                    </div>
                                {/if}

                                {if \count($openingHours[$id]['special'])>0}
                                    <hr class="my-1">
                                    <strong>{_'pickupPointList.hoursChanged','Změny v otevírací době'}</strong>
                                    <div class="grid grid-cols-3">
                                        {foreach $openingHours[$id]['special'] as $key => $value}
                                            <div class="col">
                                                {$value->date|date} ({$weekDays[(int)DateTime::createFromFormat('Y-m-d', $value->date)->format('N')]})
                                            </div>
                                            {if isset($value->openFrom)}
                                                {ifset $value->pauseFrom}
                                                    <div class="col">{$value->openFrom|date:'H:i'} - {$value->pauseFrom|date:'H:i'} </div><div class="col"> {@$value->pauseTo|date:'H:i'} - {@$value->openTo|date:'H:i'} </div>
                                                {else}
                                                    <div class="col">{$value->openFrom|date:'H:i'} - {@$value->openTo|date:'H:i'} </div><div class="col"></div>
                                                {/ifset}
                                            {else}
                                                <div class="col">{_'pickupPointList.closed','zavřeno'}</div><div class="col"></div>
                                            {/if}
                                        {/foreach}
                                    </div>
                                {/if}

                                <hr class="my-1">
                                <strong>{_'pickupPointList.openingHours','Otevírací doba'}</strong>
                                <div class="grid grid-cols-3">
                                    {foreach $openingHours[$id]['normal'] as $key => $value}
                                        <div class="col">
                                            {$weekDays[$key]}
                                        </div>
                                        {if isset($value->openFrom)}
                                            {ifset $value->pauseFrom}
                                                <div class="col">{$value->openFrom|date:'H:i'} - {$value->pauseFrom|date:'H:i'} </div><div class="col"> {@$value->pauseTo|date:'H:i'} - {@$value->openTo|date:'H:i'} </div>
                                            {else}
                                                <div class="col">{$value->openFrom|date:'H:i'} - {@$value->openTo|date:'H:i'} </div><div class="col"></div>
                                            {/ifset}
                                        {else}
                                            <div class="col">{_'pickupPointList.closed','zavřeno'}</div><div class="col"></div>
                                        {/if}
                                    {/foreach}
                                </div>
                            </div>
                        {/foreach}
                        </tbody>
                    </table>

                    <div class="mt-3">
                        {include '../../@paging.latte' paginator:$paginator}
                    </div>
                </div>

                <div n:if="!count($control->getItemsOnPage())" class="text-center mb-16">
                    {_'pickupPointList.noItems','Nebyla nalezena žádná výdejní místa.'}
                </div>
            </div>
        </div>
    </div>
</div>
{*<div class="row mb-12 lg:mb-32">*}
{*    <div class="col">*}
{*        {include '../../@paging.latte' paginator:$paginator, index:'pickupPointList-page'}*}
{*    </div>*}
{*</div>*}

{block scripts}
    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
    <script type="text/javascript">Loader.load();</script>
    <script type="text/javascript">
        {ifset $gps}
        var center = SMap.Coords.fromWGS84({\str_replace(',','.',$gps['E'])|noescape},{\str_replace(',','.',$gps['N'])|noescape});
        var m = new SMap(JAK.gel("m"), center, 11);
        {else}
        var center = SMap.Coords.fromWGS84(15.3386383, 49.7437572);
        var m = new SMap(JAK.gel("m"), center, 7);
        {/ifset}

        m.addDefaultLayer(SMap.DEF_BASE).enable();
        m.addDefaultControls();

        var layer = new SMap.Layer.Marker();
        m.addLayer(layer);
        layer.enable();

        {*        {ifset $gps}*}
        {*        var marker = new SMap.Marker(SMap.Coords.fromWGS84({\str_replace(',','.',$gps['E'])|noescape},{\str_replace(',','.',$gps['N'])|noescape}));*}
        {*        layer.addMarker(marker);*}
        {*        {/ifset}*}

        {foreach $control->getItemsOnPage() as $key => $point}

        var card = new SMap.Card();
        card.getHeader().innerHTML = "<strong>{$point->name|noescape} - {$point->pickupPointType->name|noescape}</strong><span class='text-sm'>";
        card.getBody().innerHTML = "{$point->address->getFullAddress()|noescape}<hr class='my-1'>" +
            '{$openingHoursTexts[$key]|noescape}<hr class="my-1">'+
            '<a href="#anchor-{$key|noescape}">{_'pickupPointList.moreInfo','Více informací'|noescape}</a>'
        '</span>';

        var options = {
            title: 'map-img',
            url: "{$point->pickupPointType->getImage($basePath)|noescape}",
        };

        var marker = new SMap.Marker(SMap.Coords.fromWGS84({\str_replace(',','.',$point->gpsE)}, {\str_replace(',','.',$point->gpsN)}), {$key}, options);
        marker.decorate(SMap.Marker.Feature.Card, card);

        layer.addMarker(marker);

        {/foreach}
    </script>
{/block}

