{varType Eshop\Admin\OrderPresenter $presenter}
{varType bool $upsell}
{varType Eshop\DB\PackageItem $packageItem}
{var Eshop\DB\CartItem $item = $packageItem->cartItem}

<tr {if $packageItem->deleted}style="text-decoration: line-through"{/if}>
    <td>
        <a n:if="$item->product" href="#">
            <img data-src="{$item->product->getPreviewImage($baseUrl,'thumb')}" loading="lazy" alt="" style="height:32px;">
        </a>
    </td>
    <td>
        {$item->product ? $item->product->getFullCode() : $item->getFullCode()}
									{if $item->product && $item->product->ean}<br><small>EAN: {$item->product->ean}</small>{/if}
    </td>
    <td>
        <div class="d-flex align-items-center">
            <div>
                <a n:tag-if="$admin->isAllowed(':Eshop:Admin:Product:default')" href="{plink :Eshop:Admin:Product:default, productGrid-code=>$item->productCode}" target="_blank">
                    {if $upsell}-- {/if}{$item->product ? $item->product->getName() : $item->productName}
                </a>
                <i n:if="$item->note" title="{$item->note}" class="far fa-sticky-note"></i>
            </div>
            {ifset $orderPrintDetailItemCustomBlock}
                <div class="align-self-end ml-auto">
                    {include $orderPrintDetailItemCustomBlock, template: $this, item: $item}
                </div>
            {/ifset}
        </div>
    </td>
    <td>{$packageItem->amount}</td>
    <td>
        {if $packageItem->store && !$packageItem->storeAmount}{$packageItem->store->name}{/if}
        {if $packageItem->storeAmount}{$packageItem->storeAmount->product->getFullCode()}:{$packageItem->storeAmount->store->name}{/if}
        <a n:if="$item->product" class="modalStoreOrderItemForm d-print-none" data-toggle="modal" data-target="#modal-storeOrderItemForm-{$packageItem->uuid}" href="#"><i class="far fa-edit"></i></a><br>
        <span n:if="$packageItem->status === 'waiting'" class="text-secondary"><i class="far fa-square"></i> Nepotvrzeno</span>
        <span n:if="$packageItem->status === 'reserved'" class="text-success"><i class="fa fa-check"></i> Rezervováno</span>
    </td>
    <td style="text-align: right">
        {$item->priceVat|priceSecondary:$item->cart->currency->code}{if $presenter->shopperUser->getShowWithoutVat()}<br><small>{$item->price|priceSecondary:$item->cart->currency->code} bez DPH</small>{/if}
    </td>
    <td style="text-align: right">
        {$item->priceVat * $packageItem->amount|priceSecondary:$item->cart->currency->code}{if $presenter->shopperUser->getShowWithoutVat()}<br><small>{$item->price * $packageItem->amount|priceSecondary:$item->cart->currency->code} bez DPH</small>{/if}
    </td>
    <td class="d-print-none">
        <a class="btn btn-outline-primary btn-sm text-xs modalMoveOrderItemForm" data-toggle="modal" n:if="$presenter->isManager"
           data-target="#modal-moveOrderItemForm-{$packageItem->getPK()}" href="#" title="Přesunout"><i class="fas fa-cube"></i></a>
    </td>
    <td class="d-print-none">
        <a class="btn btn-outline-primary btn-sm text-xs modalSplitOrderItemForm" data-toggle="modal" n:if="$presenter->isManager"
           data-target="#modal-splitOrderItemForm-{$packageItem->getPK()}" href="#" title="Rozdělit"><i class="fa fa-columns"></i></a>
    </td>
    <td class="d-print-none">
        <a class="btn btn-primary btn-sm text-xs modalDetailOrderItemForm"
           data-toggle="modal"
           data-target="#modal-detailOrderItemForm-{$packageItem->getPK()}" href="#" title="Upravit"
           n:if="$presenter->isManager"
        >
            <i class="far fa-edit"></i>
        </a>
    </td>
    <td class="d-print-none">
        <a href="{plink toggleDeleteOrderItem! $packageItem->getPK()}"
           class="btn btn-danger btn-sm text-xs"
           title="Smazat"
           onclick="return confirm('Opravdu?')"
           n:if="$presenter->isManager"
        >
            <i class="{if $packageItem->deleted}fa fa-trash-restore-alt{else}far fa-trash-alt{/if}"></i>
        </a>
    </td>
</tr>