{varType Web\DB\Page $page}
{varType Eshop\DB\Producer $producer}

<form n:name="form">
    {var $activeMutation = $form->getActiveMutation()}
	    {var $renderer = $form->getRenderer()}
    <ul class="error" n:ifcontent>
            <li n:foreach="$form->getOwnErrors() as $error">{$error}</li>
    </ul>

    {if isset($form['__MUTATION_SELECTOR'])}
        <table class="mt-1 mb-1">
            {$renderer->renderPair($form['__MUTATION_SELECTOR'])|noescape}
        </table>
    {/if}

    <div class="tab-content">
        <div id="menu0-content" class="tab-pane {$presenter->editTab == 'menu0' ? 'active show' : ''}">
            <fieldset>
                <table class="mt-1 mb-1">
                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label code/}</th>

                        <td class="align-middle">
                            {input code class => 'form-control form-control-sm col-label'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError code}</span>
                        </td>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label imageFileName/}</th>

                        {$renderer->renderControl($form['imageFileName'])|noescape}


                        <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError imageFileName}</span>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label productFallbackImageFileName/}</th>

                        {$renderer->renderControl($form['productFallbackImageFileName'])|noescape}


                        <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError productFallbackImageFileName}</span>
                    </tr>

                    {foreach $form['name']->getComponents() as $key => $element}
                        <tr class="m-0 mt-1 has-danger {if $key !== $activeMutation && $activeMutation !== null}inactive{/if}" data-mutation="{$key}">
                            {$renderer->renderLabel($element)|noescape}

                            <td class="align-middle">
                                {input name-$key class => 'form-control form-control-sm'}

                                <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError name-$key}</span>
                            </td>
                        </tr>
                    {/foreach}

                   {foreach $form['perex']->getComponents() as $key => $element}
                        <tr class="m-0 mt-1 has-danger {if $key !== $activeMutation && $activeMutation !== null}inactive{/if}" data-mutation="{$key}">
                            {$renderer->renderLabel($element)|noescape}

                            <td class="align-middle">
                                {input perex-$key}

                                <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError perex-$key}</span>
                            </td>
                        </tr>
                    {/foreach}

                    {foreach $form['content']->getComponents() as $key => $element}
                        <tr class="m-0 mt-1 has-danger {if $key !== $activeMutation && $activeMutation !== null}inactive{/if}" data-mutation="{$key}">
                            {$renderer->renderLabel($element)|noescape}

                            <td class="align-middle">
                                {input content-$key}

                                <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError content-$key}</span>
                            </td>
                        </tr>
                    {/foreach}

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label ancestor/}</th>

                        <td class="align-middle">
                            {input ancestor class => 'form-control form-control-sm col-label'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError ancestor}</span>
                        </td>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label exportGoogleCategory/}</th>

                        <td class="align-middle">
                            {input exportGoogleCategory class => 'form-control form-control-sm col-label'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError exportGoogleCategory}</span>
                        </td>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label exportHeurekaCategory/}</th>

                        <td class="align-middle">
                            {input exportHeurekaCategory class => 'form-control form-control-sm col-label'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError exportHeurekaCategory}</span>
                        </td>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label exportZboziCategory/}</th>

                        <td class="align-middle">
                            {input exportZboziCategory class => 'form-control form-control-sm col-label'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError exportZboziCategory}</span>
                        </td>
                    </tr>

                    <tr class="m-0 mt-1 has-danger">
                        <th class="col-label col-form-label col">{label priority 'class' => 'required'}</th>

                        <td class="align-middle">{input priority  class => 'form-control form-control-sm col-label max-number'}
                            <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError priority}</span>
                        </td>
                    </tr>

                    {$renderer->renderPair($form['hidden'])|noescape}
                    {$renderer->renderPair($form['recommended'])|noescape}

                </table>
            </fieldset>

            <fieldset>
                {if \count($form['page']->getComponents()) > 0}
                    <legend>URL A SEO</legend>

                    <table class="mt-1 mb-1">
                        {$renderer->renderControls($form['page'])|noescape}
                    </table>
                {/if}
            </fieldset>

            <fieldset>
                <table class="mt-1 mb-1">
                    <tr>
                        {ifset $form['submitAndNext']}
                            {$renderer->renderPairMulti([$form['submit'], $form['submitAndContinue'], $form['submitAndNext']])|noescape}
                        {else}
                            {$renderer->renderPairMulti([$form['submit'], $form['submitAndContinue']])|noescape}
                        {/ifset}
                    </tr>
                </table>
            </fieldset>
        </div>
{*        <div id="menu1-content" class="tab-pane {$presenter->editTab == 'menu1' ? 'active show' : ''}">*}
{*            <fieldset>*}
{*                <table class="mt-1 mb-1" style="width: auto;">*}
{*                    <tr class="m-0 mt-1 has-danger">*}
{*                        <th class="col-form-label">Aktivní</th>*}
{*                        <th class="col-form-label pl-2">Výrobce</th>*}
{*                        <th class="col-label col-form-label col">Název</th>*}
{*                        <th class="col-label col-form-label col">Priorita</th>*}
{*                        <th></th>*}
{*                    </tr>*}

{*                    <tr n:if="\count($producerPages) == 0">*}
{*                        <td colspan="4">Žádné stránky k dispozici. Stránky je nutné generovat pomocí tlačítka 'Generovat stránky výrobců' na seznamu kategorií.</td>*}
{*                    </tr>*}

{*                    {foreach $producerPages as $id => [$page, $producer]}*}
{*                        <tr class="m-0 mt-1 has-danger">*}
{*                            <td class="col-form-label">*}
{*                                {input categoryProducerPages-$page-active class => 'form-control form-control-sm col-label'}*}
{*                            </td>*}

{*                            <td class="col-form-label pl-2"">*}
{*                                <a href="{$baseUrl . '/' . $page->url}" target="_blank">{$producer->name}</a>*}
{*                            </td>*}

{*                            <td class="align-middle">*}
{*                                {input categoryProducerPages-$page-name class => 'ml-2 form-control form-control-sm col-label'}*}
{*                                <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError categoryProducerPages-$page-name}</span>*}
{*                            </td>*}

{*                            <td class="align-middle">*}
{*                                {input categoryProducerPages-$page-priority class => 'ml-2 form-control form-control-sm col-label'}*}
{*                                <span class="form-control-feedback text-danger text-sm" n:ifcontent>{inputError categoryProducerPages-$page-priority}</span>*}
{*                            </td>*}

{*                            <td class="align-middle">*}
{*                                <a class="btn btn-primary btn-sm text-xs ml-2" href="{plink :Web:Admin:Menu:pageDetail, $page}" title="Upravit"><i class="far fa-edit"></i></a>*}
{*                            </td>*}
{*                        </tr>*}
{*                    {/foreach}*}

{*                </table>*}

{*                <br>*}

{*                <span class="text-sm">*}
{*                    Stránky se generují jen pro kombinace kategorie-výrobce, které mají alespoň jeden produkt. Pokud vám nějaká stránka po změně chybí, vygenerujte kombinace znovu.*}
{*                </span>*}
{*            </fieldset>*}
{*            <fieldset>*}
{*                <table class="mt-1 mb-1">*}
{*                    <tr>*}
{*                        {ifset $form['submitAndNext']}*}
{*                            {$renderer->renderPairMulti([$form['submit'], $form['submitAndContinue'], $form['submitAndNext']])|noescape}*}
{*                        {else}*}
{*                            {$renderer->renderPairMulti([$form['submit'], $form['submitAndContinue']])|noescape}*}
{*                        {/ifset}*}
{*                    </tr>*}
{*                </table>*}
{*            </fieldset>*}
{*        </div>*}
    </div>

</form>